<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .blurred {
            filter: blur(10px);
            transform: scale(0.9);
            transition: filter 2s ease-in-out, transform 2s ease-in-out;
        }
        .clear {
            filter: blur(0);
            transform: scale(1);
        }
    </style>
</head>
<body class="bg-light blurred">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h3 class="text-center mb-4">Login</h3>
                <% if (typeof error !== 'undefined') { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
                <div style="display: none;" class="alert alert-danger" role="alert">
                </div>
                <div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input 
                            type="email" 
                            name="email" 
                            id="email" 
                            class="form-control" 
                            required
                        >
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input 
                            type="password" 
                            name="password" 
                            id="password" 
                            class="form-control" 
                            required
                        >
                    </div>
                    <div class="mb-3 form-check">
                        <input 
                            type="checkbox" 
                            class="form-check-input" 
                            id="showPassword"
                            onclick="togglePasswordVisibility()"
                        >
                        <label class="form-check-label" for="showPassword">Show Password</label>
                    </div>
                    <div class="mb-3 form-check">
                        <input 
                            type="checkbox" 
                            class="form-check-input" 
                            id="rememberMe"
                        >
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                    <button onclick="login()" class="btn btn-primary w-100">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="loader-overlay" id="loaderOverlay">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <script>
        function login() {
            document.getElementById('loaderOverlay').style.display = 'flex';
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const rememberMe = document.getElementById('rememberMe').checked;

            if (rememberMe) {
                localStorage.setItem('email', email);
                localStorage.setItem('password', btoa(password)); // Encrypt password using Base64
            } else {
                localStorage.removeItem('email');
                localStorage.removeItem('password');
            }

            fetch('https://api.hrpsi.com/api/v1/auth/login',
             {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: email,
                    password: password,
                    deviceId: '1234',
                    languageIsoCode: "en"
                })
            })
            .then((response) => response.json())
            .then(data => {
                console.log({data});
                localStorage.setItem('user', JSON.stringify(data.data));
                if(data.success) {
                    window.location.href = '/dashboard';
                } else {
                    console.log(data.errors[0]);
                    const alertElement = document.querySelector('.alert-danger');
                    alertElement.innerText = data.errors[0];
                    alertElement.style.display = 'block';
                    setTimeout(() => {
                        alertElement.style.display = 'none';
                    }, 3000);
                }
                document.getElementById('loaderOverlay').style.display = 'none';
            }).catch(error => {
                console.error(error);
                document.getElementById('loaderOverlay').style.display = 'none';
            });

            console.log('Form submitted with:', { email, rememberMe });
        }

        window.onload = function() {
            document.getElementById('loaderOverlay').style.display = 'none';
            const savedEmail = localStorage.getItem('email');
            const savedPassword = localStorage.getItem('password');

            if (savedEmail && savedPassword) {
                document.getElementById('email').value = savedEmail;
                document.getElementById('password').value = atob(savedPassword); // Decrypt password using Base64
                document.getElementById('rememberMe').checked = true;
            }

            // Remove blur and zoom-out effect after a short delay
            setTimeout(() => {
                document.body.classList.remove('blurred');
                document.body.classList.add('clear');
            }, 1000);
        }

        function togglePasswordVisibility() {
            const passwordInput = document.getElementById('password');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        }
    </script>
</body>
</html>
